{
    "AWSTemplateFormatVersion" : "2010-09-09",
    "Resources": {
        "UserTable": {
            "Type": "AWS::DynamoDB::Table",
            "Properties": {
                "AttributeDefinitions":[
                    {
                        "AttributeName":"empid",
                        "AttributeType":"N"
                    }
                ],
                "KeySchema":[
                    {
                        "AttributeName" : "empid",
                        "KeyType" : "HASH"
                    }
                ],
                "ProvisionedThroughput" : {
                    "ReadCapacityUnits" : "10",
                    "WriteCapacityUnits" : "10"
                },
                "TableName":"users"
            }
        },
        "DataSQS":{
            "Type" : "AWS::SQS::Queue",
            "Properties":{
                "QueueName":"data-queue",
                "MessageRetentionPeriod":"6000"
            }
        },
        "helloworld": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
                "Handler": "lambda/helloworld.handler",
                "Code": {
                    "S3Bucket": "lambda-functions-mak",
                    "S3Key": "mycode.zip"
                },
                "Runtime": "nodejs18.x",
                "Timeout": 25
            }
        }
    }
}